// Modo Claro
$background_claro: #F5F5F5; // Gris claro
$color_primario_claro: #FF6C11; // Naranja
$color_secundario_claro: #3CB371; // Verde marino
$color_acento_claro: #4169E1; // Azul real

// Modo Oscuro
$background_oscuro: #1E1E1E;
$color_primario_oscuro: #5AFF15; // Verde
$color_secundario_oscuro: #9F7AEA; // Morado
$color_acento_oscuro: #FFD700; // Dorado
