mat-toolbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .tituloWeb{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
#menu{
  width: 25%;
  main{
    display: flex;
    flex-direction: column;
  }
}
.mat-drawer-inner-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20% ;
  div{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;

  }
}

#logoWeb{
  max-width: 50px;
  max-height: 50px;
}
