
<mat-drawer-container>
  <mat-drawer mode="side" [(opened)]="mostrarMenu" id="menu">
    <header>
      <h2>Selecciona un tipo de juego</h2>
    </header>
    <main>
    <div class="enlace">
      <a routerLink="">Inicio</a>
    </div>
    @for (page of pages; track page){
      <div class="enlace">
        <a routerLink={{page.toLowerCase()}}>{{page}}</a>
      </div>
    }
    </main>

  </mat-drawer>
  <mat-drawer-content>
    <nav>
      <mat-toolbar>
        <div class="tituloWeb">
          <a routerLink="">Videojuegos Gratis</a>
        </div>
        <div>
          <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon"
                  (click)="toggleMenu()">
            <mat-icon>menu</mat-icon>
          </button>
        </div>

      </mat-toolbar>
    </nav>
    <router-outlet />
  </mat-drawer-content>
</mat-drawer-container>
