
<mat-drawer-container>
  <mat-drawer mode="side" [(opened)]="mostrarMenu" id="menu">
    <div class="enlace">
      <a routerLink="#">Inicio</a>
    </div>
    <div class="enlace">
      <a routerLink="#">Inicio</a>
    </div>
    <div class="enlace">
      <a routerLink="#">Inicio</a>
    </div>
    <div class="enlace">
      <a routerLink="#">Inicio</a>
    </div>
    <div class="enlace">
      <a routerLink="#">Inicio</a>
    </div>

  </mat-drawer>
  <mat-drawer-content>
    <nav>
      <mat-toolbar>
        <div class="tituloWeb">
          <h1>Videojuegos Gratis</h1>
        </div>
        <div>
          <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon"
                  (click)="toggleMenu()">
            <mat-icon>menu</mat-icon>
          </button>
        </div>

      </mat-toolbar>
    </nav>
    <router-outlet />
  </mat-drawer-content>
</mat-drawer-container>
